@font-face {
    font-family: "Damion";
    font-style: normal;
    font-weight: 400;
    src: local("Damion"),
        url(https://fonts.gstatic.com/s/damion/v10/hv-XlzJ3KEUe_YZkamwz.ttf)
            format("truetype");
}
@font-face {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K-DQBi8Jow.ttf)
        format("truetype");
}


body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#121212),
        color-stop(#212938),
        color-stop(#304468),
        color-stop(#ab38bc),
        to(#121212)
    );
    background: linear-gradient(#121212, #212938, #304468, #ab38bc, #121212);
}
h1,
h3 {
    margin: 0;
    line-height: 1;
}
h1 {
    display: inline-block;
    font-family: "Work Sans", sans-serif;
}
h3 {
    display: inline-block;
    font-family: "Damion", cursive;
}
.content-cont {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 2;
}
.text-body {
    position: relative;
    display: inline-block;
    font-size: 16px;
}
.text-body h1 {
    position: relative;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 5px;
    z-index: 1;
}
.text-body h1 span {
    color: transparent;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#000000),
        color-stop(22%, #113e87),
        color-stop(50%, #10cccc),
        color-stop(51%, #000000),
        color-stop(78%, #e21ddc),
        color-stop(78%, #e21ddc),
        to(#ffffff)
    );
    background: linear-gradient(
        #000000 0%,
        #113e87 22%,
        #10cccc 50%,
        #000000 51%,
        #e21ddc 78%,
        #e21ddc 78%,
        #ffffff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-body h1 span:before {
    content: attr(text);
}
.text-body h1 span:after {
    content: attr(text);
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 3px 0px #fff, -3px 0px #fff, 0px 3px #fff, 0px -3px #fff,
        3px 3px #fff, -3px -3px #fff, 3px -3px #fff, -3px 3px #fff;
    opacity: 0.2;
}
.text-body h3 {
    position: absolute;
    top: 70%;
    right: 0;
    text-align: right;
    font-size: 2.5em;
    letter-spacing: -1px;
    text-transform: capitalize;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
    z-index: 1;
    color: #ee91ae;
    text-shadow: 1px 1px #fff, -1px -1px #fff, -1px 1px #fff, 1px -1px #fff,
        1px 0px #fff, -1px 0px #fff, 0px -1px #fff, 0px 1px #fff,
        0px 0px 12px #ee91ae;
}
.text-body .shine {
    position: absolute;
    width: 5px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 7px 2px #fff;
    z-index: 3;
}
.text-body .shine.one {
    top: 15%;
    left: 4%;
    -webkit-animation: shine1 1000ms alternate infinite;
    animation: shine1 1000ms alternate infinite;
}
.text-body .shine.two {
    top: 55%;
    left: 20%;
    -webkit-animation: shine1 1500ms alternate infinite;
    animation: shine1 1500ms alternate infinite;
}
.text-body .shine.three {
    top: 15%;
    left: 40%;
    -webkit-animation: shine1 1700ms alternate infinite;
    animation: shine1 1700ms alternate infinite;
}
.text-body .shine.four {
    top: 15%;
    left: 80%;
    -webkit-animation: shine1 900ms alternate infinite;
    animation: shine1 900ms alternate infinite;
}
.text-body .shine.five {
    top: 55%;
    left: 95%;
    -webkit-animation: shine1 1300ms alternate infinite;
    animation: shine1 1300ms alternate infinite;
}
.moving-grid {
    position: absolute;
    top: 57%;
    left: 0;
    width: 100%;
    height: 70%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    z-index: 1;
}
.moving-grid:before {
    content: "";
    position: absolute;
    top: 8px;
    /* left: ; */
    width: 100%;
    height: 10px;
    box-shadow: -2px 0 21px -3px pink;
}
.moving-grid .container {
    position: relative;
    width: 100%;
    height: 300%;
    border: 2px solid pink;
    box-sizing: border-box;
    background-color: #010a1c;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(70deg) translateY(10%);
    transform: rotateX(70deg) translateY(10%);
    overflow: hidden;
}
.moving-grid .container .static-lines {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.moving-grid .container .static-lines .vert {
    display: inline-block;
    height: 100%;
    width: 2px;
    background-color: pink;
    margin-left: 4.5%;
    box-shadow: 0 2px 21px pink;
}
.moving-grid .container .moving-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
}
.moving-grid .container .moving-lines .horz {
    display: inline-block;
    width: 100%;
    height: 3px;
    margin-top: 4.8%;
    background-color: pink;
    box-shadow: 2px 0 21px pink;
    -webkit-animation: lines 600ms linear infinite;
    animation: lines 600ms linear infinite;
}
@-webkit-keyframes lines {
    from {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }
    to {
        -webkit-transform: translateY(65px);
        transform: translateY(65px);
    }
}
@keyframes lines {
    from {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }
    to {
        -webkit-transform: translateY(65px);
        transform: translateY(65px);
    }
}
@-webkit-keyframes shine1 {
    0% {
        -webkit-transform: rotate(0) scale(0);
        transform: rotate(0) scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0);
        transform: rotate(720deg) scale(0);
        opacity: 0;
    }
}
@keyframes shine1 {
    0% {
        -webkit-transform: rotate(0) scale(0);
        transform: rotate(0) scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0);
        transform: rotate(720deg) scale(0);
        opacity: 0;
    }
}

.background-80s {
    background: linear-gradient(
            to bottom,
            #010310 0,
            #0c1142 24%,
            #45125e 45%,
            #d53567 60%,
            #f0c3d9 65%,
            #0c1142 65%
        )
        fixed;
    background-size: 100% var(--background-height, 100vh);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: var(--background-height, 100vh);
    z-index: -2;
}

.background-80s:before {
    content: "";
    background: linear-gradient(
            to bottom,
            #010310 0,
            #0c1142 24%,
            #45125e 45%,
            #d53567 60%,
            #f0c3d9 65%,
            #0c1142 65%
        )
        fixed;
    width: 100%;
    height: 55%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: 0.2;
}

/*stars*/
.stars:after {
    transform: translateY(-40%);
    content: " ";
    border-radius: 100%;
    width: 3px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    box-shadow: 5vw 15vh 2px white, 1vw 33vh 0px white, 2vw 25vh 2px white,
        10vw 10vh 2px white, 12vw 20vh 0px white, 30vw 15vh 2px white,
        16vw 5vh 2px white, 24vw 10vh 0px white, 32vw 40vh 0px white,
        33vw 35vh 2px white, 12vw 38vh 2px white, 24vw 10vh 0px white,
        33vw 5vh 2px white, 20vw 10vh 0px white, 80vw 10vh 2px white,
        62vw 20vh 0px white, 60vw 15vh 2px white, 70vw 7vh 0px white,
        62vw 50vh 0px white, 65vw 35vh 2px white, 64vw 10vh 0px white,
        85vw 2vh 0px white, 92vw 40vh 0px white, 75vw 35vh 2px white,
        90vw 10vh 0px white;
    opacity: 0.3;
    animation: glitter 2s infinite;
}

@keyframes glitter {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.5;
    }
}
.overlay {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
    background-image: repeating-linear-gradient(
        rgba(0, 0, 0, 0.3) 0,
        transparent 1px,
        transparent 2px,
        rgba(0, 0, 0, 0.3) 3px
    );
    pointer-events: none;
}

.sun {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    background-color: yellow;
    left: calc(50%);
    bottom: 40%;
    transform: translateX(-50%);
    background-image: linear-gradient(red, yellow),
        linear-gradient(black, white);
    clip-path: polygon(
        -50% 0px,
        150% -50%,
        150% 55%,
        -50% 55%,
        -50% 62%,
        150% 62%,
        150% 70%,
        0 70%,
        -50% 75%,
        150% 75%,
        150% 80%,
        0 80%,
        -50% 82%,
        150% 82%,
        150% 85%,
        0 85%,
        -50% 87%,
        150% 87%,
        150% 90%,
        0 90%,
        -50% 92%,
        150% 92%,
        150% 95%,
        0 95%,
        -50% 96%,
        150% 96%,
        150% 150%,
        0 150%
    );
    box-shadow: rgba(255, 128, 0, 0.7) 0px 0 20px;
}

.mountain {
    position: absolute;
    content: "";
    bottom: 35%;
    left: calc(50% + var(--mountain-offset, 0px));
    border-left: calc(var(--mountain-base) / 2) solid transparent;
    border-bottom: var(--mountain-height, 100px) solid
        var(--mountain-color1, white);
    border-top: 0px solid transparent;
    border-right: calc(var(--mountain-base, 100px) / 2) solid transparent;
    transform-origin: bottom;
    transform: skewX(var(--mountain-tilt, 0deg));
}

.mountain:after {
    content: "";
    border-left: calc(var(--mountain-base) / 2) solid transparent;
    border-bottom: var(--mountain-height, 100px) solid
        var(--mountain-color2, black);
    border-top: 0px solid transparent;
    border-right: calc(var(--mountain-base, 100px) / 2) solid transparent;
    transform: translate(-50%) scale(0.98);
    position: absolute;
    left: 0;
    top: 0;
}
